@import './figma';
@import './ui/left/User/User';

main {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: repeat(28, auto);
  margin: $universal-margin;
}

aside,
article {
  padding: $universal-padding;
}

@media only screen and (min-width: 600px) {

aside>header>nav {
  display: grid;
  grid-template-columns: auto max-content
    /*94% 6%*/
  ;

  &>span{
    @include label-number;
    font-size: calc(1.8rem / var(#{$heading-ratio-var}));
    padding-right: $badges-single-paddig;
  }

  &>* {
    //childrens
    align-content: center;
  }

  &>a{
    padding-left: $left-aside-padding;
  }
}

.stats-progress {
  display: grid;
  grid-template-columns: min-content auto max-content;

  &>* {
    //childrens
    align-content: center;
    padding: $left-aside-padding;
  }

  &>p>span {
    @include label-number;

    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: solid;
    }
  }

  &>progress {
    margin: 0 auto;
  }
}
}