// Table of Content
// 1. Fonts.
// 2. Variables.
// 3. Core (for example HTML elements).
// 4. Icons.
// 5. Plugins & custom classes.

//<!-- 1. Fonts -->

// Label Numbers Font
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@600&display=swap');

//<!-- 2. Variables -->

//! Figma's Material Theme Builder Baseline Color Scheme
// https://m3.material.io/styles/color/static/baseline
@import "./light_material_design_baseline";

$a-link-color: $fore-color;
$a-visited-color: $button-inverse-back-color;
$button-back-color: $secondary-fore-color;
$button-hover-back-color: $button-tertiary-hover-back-color ;
$button-fore-color: $button-color;

label.button:hover {color:$button-inverse-back-color;}

// Custom Variables
$badges-single-paddig: 0.5rem;
$left-aside-padding: 0.25rem ;
$label-font-family: 'Saira SemiCondensed, sans-serif'; // Font stack for code elements

//! Picnic CSS

// Spaces
$picnic-separation: .6em;

//<!-- 3. Core -->

//! Mini CSS https://github.com/Chalarangelo/mini.css/
@import '../../../node_modules/mini.css/src/mini/core';

// Custom grid
@import './grid.scss';

//<!-- 4. Icons -->

// https://icongr.am/

//<!-- 5. Plugins -->

//! Mini CSS https://github.com/Chalarangelo/mini.css/

// Buttons and inputs
@import '../../../node_modules/mini.css/src/mini/input_control';
//contextual background elements, toasts and tooltips
@import '../../../node_modules/mini.css/src/mini/contextual';
@import '../../../node_modules/mini.css/src/mini/table';
//progress bars and spinners
@import '../../../node_modules/mini.css/src/mini/progress';
@import '../../../node_modules/mini.css/src/mini/utility';

//@include make-button-alt-color ($button-inverse-name, $button-inverse-back-color, $button-inverse-hover-back-color, $button-inverse-fore-color);
//@include make-button-alt-color ($button-secondary-name, $button-secondary-back-color, $button-secondary-hover-back-color, $button-secondary-fore-color);


//! Picnic CSS http://www.picnicss.com/
@import '../../../node_modules/picnic/src/plugins/tabs/plugin';
