// Table of Content
// 1. Fonts.
// 2. Variables.
// 3. Core (for example HTML elements).
// 4. Icons.
// 5. Plugins & custom classes.

//<!-- 1. Fonts -->

// Label Numbers Font
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@600&display=swap');

//<!-- 2. Variables -->

// Custom Variables
$badges-single-paddig: 0.5rem;
$left-aside-padding: 0.25rem ;
$label-font-family: 'Saira SemiCondensed, sans-serif'; // Font stack for code elements

//! Picnic CSS

// Spaces
$picnic-separation: .6em;

//<!-- 3. Core -->

//! Mini CSS https://github.com/Chalarangelo/mini.css/
@import '../../../node_modules/mini.css/src/mini/core';

// Custom grid
@import './grid.scss';

//<!-- 4. Icons -->

// https://icongr.am/

//<!-- 5. Plugins -->

//! Picnic CSS http://www.picnicss.com/
@import '../../../node_modules/picnic/src/plugins/tabs/plugin';